@charset "utf-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');
@font-face {
    font-family: 'NanumSquare';
    src: local('font/NanumSquare'),
        url('../font/NanumSquareR.ttf'),
        url('../font/NanumSquareR.eot'),
        url('../font/NanumSquareR.woff');
}
@font-face {
    font-family: 'NanumSquareL';
    src: url('../font/NanumSquareL.ttf'),
        url('../font/NanumSquareL.eot'),
        url('../font/NanumSquareL.woff');
}
@font-face {
    font-family: 'NanumSquareB';
    src: url('../font/NanumSquareB.ttf'),
        url('../font/NanumSquareB.eot'),
        url('../font/NanumSquareB.woff');
}
@font-face {
    font-family: 'NanumSquareEB';
    src: url('../font/NanumSquareEB.ttf'),
        url('../font/NanumSquareEB.eot'),
        url('../font/NanumSquareEB.woff');
}
body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 14px;
}

footer {
    width: 100%;
    background-color: #1c1c1b;
    color: #f9f9f9;
    margin-top: 80px;
}
footer > .footer {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}
footer > .footer:after {
    content: '';
    display: block;
    clear: both;
}
footer > .footer > p {
    font-family: "NanumSquare";
    font-size: 14px;
    line-height: 100px;
    width: 68%;
    float: left;
}
footer > .footer > address {
    width: 51%;
    float: left;
    font-style: normal;
    font-family: "NanumSquare";
    font-size: 14px;
    line-height: 20px;
}
footer > .footer > img {
    float: right;
    width: 130px;
    height: 100px;
    margin-right: 100px;
    margin-top: -50px;
    margin-bottom: 50px;
}
footer > .footer > select {
    width: 130px;
    height: 30px;
    background-color: #1c1c1b;
    color: #f9f9f9;
    font-size: 12px;
    margin-top: 100px;
    margin-left: -100px;
}

#gotoTop {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 270px;
    right: 50px;
    border: 0;
    background: none;
    z-index: 999;
    display: none;
}
#gotoBottom {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 210px;
    right: 50px;
    border: 0;
    background: none;
    z-index: 999;
    display: none;
}
