@charset "utf-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');
@font-face {
    font-family: 'NanumSquare';
    src: local('font/NanumSquare'),
        url('../font/NanumSquareR.ttf'),
        url('../font/NanumSquareR.eot'),
        url('../font/NanumSquareR.woff');
}
@font-face {
    font-family: 'NanumSquareL';
    src: url('../font/NanumSquareL.ttf'),
        url('../font/NanumSquareL.eot'),
        url('../font/NanumSquareL.woff');
}
@font-face {
    font-family: 'NanumSquareB';
    src: url('../font/NanumSquareB.ttf'),
        url('../font/NanumSquareB.eot'),
        url('../font/NanumSquareB.woff');
}
@font-face {
    font-family: 'NanumSquareEB';
    src: url('../font/NanumSquareEB.ttf'),
        url('../font/NanumSquareEB.eot'),
        url('../font/NanumSquareEB.woff');
}
body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 14px;
}
header {
    width: 100%;
    height: 70px;
    position: relative;
    background: #1c1c1b;
    z-index: 100;
}
header > #logo {
    width: 100%;
}
header > #logo > h1 {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    line-height: 100px;
}
header > #logo > h1 > a {
    display: block;
}
header > #logo > h1 > a > img {
    width: 70px;
    height: 70px;
}
header > .search {
    position: absolute;
    right: 20px;
    top: 22px;
}
header > .search > a {
    display: block;
    width: 25px;
    height: 25px;
}

header > .m_search {
    display: none;
    width: 100%;
    line-height: 100px;
    background: #fff;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 100;
}
/*
header > .m_search:after {
    content: '';
    display: block;
    clear: both;
}
*/
header > .m_search > form {
    margin: 0 auto;
    text-align: center;
}
header > .m_search form input[type="text"] {
    width: 80%;
    height: 40px;
}
header > .m_search form input[type="button"] {
    border: 0;
    width: 40px;
    height: 40px;
    background-image: url(../images/magnifying-glass.png);
    background-color: #1c1c1b;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
}

header > .m_menu_bt {
    position: absolute;
    top: 22px;
    left: 20px;
}
header > .m_menu_bt > img {
    width: 25px;
    height: 25px;
}
header > nav {
    position: relative;
    margin-top: -70px;
    right: 100%;
    width: 80%;
    height: 800px;
    background: #fff;
    z-index: 100;
}

header > nav > .m_menu_logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding-top: 5px;
}
/*
header #h_top > nav > .m_menu_logo > img {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
}
*/
header > nav > ul {
}
header > nav > ul > li {
    background-color: #efeeee;
    background-image: url(../images/m_menu_close_btn.png);
    background-repeat: no-repeat;
    background-position: 95% 19px;
    border-bottom: 1px solid lightgray;
}
header > nav > ul > li > a {
    display: block;
    line-height: 55px;
    font-size: 1.2em;
    padding-left: 20px;
}
header > nav .sub_menu li {
    background-color: #1c1c1b;
}
header > nav .sub_menu li a {
    color: #f9f9f9;
    display: block;
    line-height: 55px;
    font-size: 1.2em;
    padding-left: 20px;
}
.sub_menu > li > .pt_sub_menu li a {
    line-height: 40px;
    font-size: 1em;
}
.sub_menu > li > .pt_sub_menu > li > .pt_more_sub_menu > li a {
    line-height: 30px;
    padding-left: 40px;
    border-bottom: 1px solid #484848;
    background-color: #2e2e2e;
}
header > nav > .nav_close {
    position: absolute;
    top: 30px;
    right: 0;
    width: 35px;
    height: 35px;
    background: #efeeee;
    text-align: center;
}
header  > nav > .nav_close > p {
    color: #1c1c1b;
    font-size: 1.8em;
    font-weight: 100;
}


figure {
    position: relative;
    width: 100%;
    height: 200px;
}
figure > #slide {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
}
figure > #slide > ul {
    position: relative;
    float: left;
    width: 100%;
    height: 200px;
}
figure > #slide > ul:after {
    content: '';
    display: block;
    clear: both;
}
figure > #slide > ul > li {
    position: absolute;
    width: 100%;
    height: 200px;
}
figure > #slide > ul > li > a {
    display: block;
    text-indent: -9999px;
}
figure > #slide > ul > li:nth-child(1) {
    background: url(../images/main_slide1.jpg) 50% 0 no-repeat;
    left: 0px;
    background-size: cover;
}
figure > #slide > ul > li:nth-child(2) {
    background: url(../images/main_slide2.jpg) 50% 0 no-repeat;
    left: 100%;
    background-size: cover;
}
figure > #slide > ul > li:nth-child(3) {
    background: url(../images/main_slide3.jpg) 50% 0 no-repeat;
    left: 200%;
    background-size: cover;
}

 figure #slide_Btn {
    width: 100%;
}
figure #slide_Btn ul {
    width: 100%;
}
figure #slide_Btn ul:after {
    content: '';
    display: block;
    clear: both;
}
#slide_Btn li {
    background: url("../images/slide_Btn.png") 0 -16px no-repeat;
    width: 14px;
    height: 15px;
    float: left;
    position: relative;
    left: 43.5%;
    top: -20px;
    overflow: hidden;
    margin: 0 5px;
    cursor: pointer;
}
#slide_Btn li.on {
    background-position: 0 0;
}
#slide_Btn li a {
    display: block;
    text-indent: -999px;
}

#content1 {
    margin: 30px auto; 
    width: 100%;
    position: relative;
}
#content1 > h2 {
    text-align: center;
    margin: 0 auto;
    width: 180px;
    height: 30px;
    font-size: 30px;
    position: relative;
}
#content1 > h2:after {
    content: '';
    display: block;
    background-color: #efeeee;
    position: absolute;
    width: 180px;
    height: 15px;
    top: 20px;
    left: 0;
    z-index: -9999;
}

section {
    position: relative;
    width: 100%;
    margin: 50px auto;
}
section:after {
    content: '';
    display: block;
    clear: both;
}
section > article {
    display: block;
    width: 48.5%;
    float: left;
    opacity: 0.85;
}
section > article > img {
    width: 100%;
}
section > article > a {
    display: block;
    padding-left: 10px;
}
section > article:nth-child(1) > a {
    position: absolute;
    bottom: 20px;
}
section > article:nth-child(2) > a {
    position: absolute;
    bottom: 20px;
}
section > article > a > h3 {
    color: #f9f9f9;
    font-size: 5.5vw;
    font-weight: 500;
}
section > article:hover {
    opacity: 1;
    transform:scale(1.1);
    transition: all 0.5s;
}
section > article > a > p {
    font-family: "NanumSquare";
    color: #f9f9f9;
    font-size: 3vw;
    line-height: 4vw;
}
section > article:nth-child(1) {
/*
    background-image: url(../images/hairChart1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
*/
    cursor: pointer;
    margin-left: 1%;
}
section > article:nth-child(2) {
/*
    background-image: url(../images/hairNote1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
*/
    cursor: pointer;
    margin-left: 1%;
}

#content2 {
    position: relative;
    margin-top: 100px;
    z-index: 100;
}
#content2 > .youtube {
    position: relative;
    top: 0;
    z-index: 100;
}

#content2 > .youtube > iframe {
    margin-top: 250px;
    border: 5px solid #f98a6c;
}
#content2 > .c2_bg {
    position: absolute;
    height: 800px;
    top:0;
    right: 0;
    width: 60%;
    background-color: #efeeee;
    z-index: -9999;
}
#content2 > .c2_bg > .c2_text {
    padding:50px;
}
#content2 > .c2_bg > .c2_text > h2 {
    color: #f98a6c;
    font-size: 4vw;
    position: relative;
}
#content2 > .c2_bg > .c2_text > h2:after {
    position: absolute;
    display: block;
    content: "";
    bottom: -10px;
    left: 0;
    width: 20%;
    height: 0;
    border-bottom: 2px solid #1c1c1b;
}
#content2 > .c2_bg > .c2_text > span {
    font-family: "NanumSquareEB";
    font-size: 4vw;
    margin-top:30px;
    display: block;
}
/*
#content2 > .c2_bg > .c2_text > p {
    font-family: "NanumSquare";
    font-size: 17px;
    margin-top: 50px;
    margin-bottom: 80px;
    line-height: 30px;
}
*/
#content2 > .c2_bg > .c2_btn {
    font-family: "NanumSquare";
    width: 110px;
    height: 45px;
    border-radius: 50px;
    line-height: 45px;
    background-color: #f98a6c;
    position: absolute;
    bottom: 10%;
    right: 20%;
}
#content2 > .c2_bg > .c2_btn > p > a {
    display: block;
    font-size: 15px;
    text-align: center;
}
#content2 > .c2_bg > .c2_btn > p > a:hover {
    background-color: #1c1c1b;
    color: #f98a6c;
    border-radius: 50px;
}


#banner {
    width: 100%;
    position: relative;
    margin-top: 300px;
}
#banner > img {
    display: block;
    width: 100%;
}

#content3 {
    font-family: "NanumSquare";
    width: 100%;
    margin: 80px auto;
    position: relative;
}
#content3:after {
    content: '';
    display: block;
    clear: both;
}
#content3 > .c3_left {
    width: 100%;
}
#content3 > .c3_left > h2 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 30px;
}
#content3 > .c3_left > h2:after {
    position: absolute;
    display: block;
    content: "";
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 235px;
    height: 15px;
    background-color: #efeeee;
    z-index: -9999;
}
#content3 > .c3_left > span:before {
    position: absolute;
    display: block;
    content: "";
    top: 15%;
    left: 50%;
    height: 45px;
    border-left: 2px solid #1c1c1b;
}
#content3 > .c3_left > span {
    display: block;
    text-align: center;
    font-size: 19px;
    margin-top: 180px;
    font-weight: bold;
}
#content3 > .c3_left > p {
    width: 56%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
    z-index: 100;
    font-weight: bold;
}
#content3 > .c3_left > .button {
    width: 120px;
    border: 2px solid #1c1c1b;
    border-radius: 50px;
    margin-top: 75px;
}
#content3 > .c3_left > .button > a {
    display: block;
    line-height: 40px;
    border-radius: 50px;
    font-weight: bold;
}
#content3 > .c3_left > .button > a:hover {
    background-color: #1c1c1b;
    color: #f9f9f9;
}
#content3 > .c3_right {
    width: 100%;
    position: absolute;
    top: 190px;
    text-align: center;
    z-index: -9999;
}
#content3 > .c3_left > p:nth-child(3):after {
    position: absolute;
    display: block;
    content: "";
    top: 140px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    height: 400px;
    background-color: #efeeee;
    opacity: 0.4;
    z-index: -99999;
}
#content3 > .c3_right > img {
    opacity: 0.4;
    filter:drop-shadow(0px 5px 5px #1c1c1b);
}
#content3 > .c3_leftBtn {
    width: 16px;
    height: 20px;
    position: absolute;
    top: 70%;
    left: 0;
    cursor: pointer;
}
#content3 > .c3_rightBtn {
    width: 16px;
    height: 20px;
    position: absolute;
    top: 70%;
    right: 0;
    cursor: pointer;
}

#instagram {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 200px;
}
#instagram > .insta_title {
    margin: 0 auto;
}
#instagram > .insta_title > h2 {
    text-align: center;
  font-size: 30px;
  background: linear-gradient(to right, #ea4b83 15%, #a774c1 35%, #f98a6c 69%, #00b050 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#instagram > .insta_title > h2:after {
    position: absolute;
    display: block;
    content: "";
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 15px;
    background-color: #efeeee;
    z-index: -100;
}
#instagram > .insta_title > p {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
}
#instagram > .insta_title:after {
    position: absolute;
    display: block;
    content: "";
    top: 140px;
    width: 100%;
    height: 0;
    border-bottom: 2px solid #1c1c1b;
}
#instagram > .insta_img {
    width: 100%;
    margin: 90px auto;
    position: relative;
}
#instagram > .insta_img:after {
    content: '';
    display: block;
    clear: both;
}
#instagram > .insta_img > a{
    position:relative;
    float:left;
    width: 48%;
    margin: 0 1%;
/*
    transition: width 2s;
    -webkit-transition: width 2s;
*/
}
#instagram > .insta_img > a:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    width: 100%;
    height: 98%;
    display:block;
}
#instagram > .insta_img > a:hover:before {
    position: absolute;
    display: block;
    content: "";
    text-align: center;
    color: #f9f9f9;
    font-size: 30px;
    top: 0;
    width: 100%;
    height: 98%;
    padding-top: 45%;
    box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.8), inset 0 0 200px rgba(0, 0, 0, 0.8);
    transition: all 0.5s;
}
#instagram > .insta_img > a:nth-child(1):hover:before {
    content: "@mintyuri";
}
#instagram > .insta_img > a:nth-child(2):hover:before {
    content: "@u.b1n";
}
#instagram > .insta_img > a:nth-child(3):hover:before {
    content: "@shubidub";
}
#instagram > .insta_img > a:nth-child(4):hover:before {
    content: "@lee___yujini";
}
#instagram > .insta_img > a:nth-child(5):hover:before {
    content: "@94danmie";
}
#instagram > .insta_img > a:nth-child(6):hover:before {
    content: "@2_58.am";
}
footer {
    width: 100%;
    background-color: #1c1c1b;
    color: #f9f9f9;
}
footer > .footer {
    position: relative;
    padding: 10px;
}
footer > .footer:after {
    content: '';
    display: block;
    clear: both;
}
footer > .footer > p {
    font-family: "NanumSquare";
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 20px;
}
footer > .footer > address {
    width: 50%;
    font-style: normal;
    font-family: "NanumSquare";
    font-size: 14px;
    line-height: 20px;
}
footer > .footer > img {
    float: right;
    width: 110px;
    height: 80px;
    margin-top: -50px;
    margin-right: 10%;
}
footer > .footer > select {
    width: 130px;
    height: 30px;
    background-color: #1c1c1b;
    color: #f9f9f9;
    font-size: 12px;
    margin-top: 20px;
}


#gotoTop {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 80px;
    right: 20px;
    border: 0;
    background: none;
    z-index: 999;
    display: none;
}
#gotoBottom {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    border: 0;
    background: none;
    z-index: 999;
    display: none;
}