@charset "utf-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');
@font-face {
    font-family: 'NanumSquare';
    src: local('font/NanumSquare'),
        url('../font/NanumSquareR.ttf'),
        url('../font/NanumSquareR.eot'),
        url('../font/NanumSquareR.woff');
}
@font-face {
    font-family: 'NanumSquareL';
    src: url('../font/NanumSquareL.ttf'),
        url('../font/NanumSquareL.eot'),
        url('../font/NanumSquareL.woff');
}
@font-face {
    font-family: 'NanumSquareB';
    src: url('../font/NanumSquareB.ttf'),
        url('../font/NanumSquareB.eot'),
        url('../font/NanumSquareB.woff');
}
@font-face {
    font-family: 'NanumSquareEB';
    src: url('../font/NanumSquareEB.ttf'),
        url('../font/NanumSquareEB.eot'),
        url('../font/NanumSquareEB.woff');
}
body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 14px;
}
header {
    width: 100%;
    height: 70px;
    position: relative;
    background: #1c1c1b;
    z-index: 100;
}
header > #logo {
    width: 100%;
}
header > #logo > h1 {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    line-height: 100px;
}
header > #logo > h1 > a {
    display: block;
}
header > #logo > h1 > a > img {
    width: 70px;
    height: 70px;
}
header > .search {
    position: absolute;
    right: 20px;
    top: 22px;
}
header > .search > a {
    display: block;
    width: 25px;
    height: 25px;
}

header > .m_search {
    display: none;
    width: 100%;
    line-height: 100px;
    background: #fff;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 100;
}
/*
header > .m_search:after {
    content: '';
    display: block;
    clear: both;
}
*/
header > .m_search > form {
    margin: 0 auto;
    text-align: center;
}
header > .m_search form input[type="text"] {
    width: 80%;
    height: 40px;
}
header > .m_search form input[type="button"] {
    border: 0;
    width: 40px;
    height: 40px;
    background-image: url(../images/magnifying-glass.png);
    background-color: #1c1c1b;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
}

header > .m_menu_bt {
    position: absolute;
    top: 22px;
    left: 20px;
}
header > .m_menu_bt > img {
    width: 25px;
    height: 25px;
}
header > nav {
    position: relative;
    margin-top: -70px;
    right: 100%;
    width: 80%;
    height: 800px;
    background: #fff;
    z-index: 100;
}

header > nav > .m_menu_logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding-top: 5px;
}
/*
header #h_top > nav > .m_menu_logo > img {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
}
*/
header > nav > ul {
}
header > nav > ul > li {
    background-color: #efeeee;
    background-image: url(../images/m_menu_close_btn.png);
    background-repeat: no-repeat;
    background-position: 95% 19px;
    border-bottom: 1px solid lightgray;
}
header > nav > ul > li > a {
    display: block;
    line-height: 55px;
    font-size: 1.2em;
    padding-left: 20px;
}
header > nav .sub_menu li {
    background-color: #1c1c1b;
}
header > nav .sub_menu li  a {
    color: #f9f9f9;
    display: block;
    line-height: 55px;
    font-size: 1.2em;
    padding-left: 20px;
}
.sub_menu > li > .pt_sub_menu li a {
    line-height: 40px;
    font-size: 1em;
}
.sub_menu > li > .pt_sub_menu > li > .pt_more_sub_menu > li a {
    line-height: 30px;
    padding-left: 40px;
    border-bottom: 1px solid #484848;
    background-color: #2e2e2e;
}
header > nav > .nav_close {
    position: absolute;
    top: 30px;
    right: 0;
    width: 35px;
    height: 35px;
    background: #efeeee;
    text-align: center;
}
header  > nav > .nav_close > p {
    color: #1c1c1b;
    font-size: 1.8em;
    font-weight: 100;
}

#location {
    font-size: 12px;
    line-height: 40px;
    padding-left: 3%;
    word-spacing: 5px;
    border-bottom: 1px solid #1c1c1b;
}

#m_title {
    width: 100%;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #d6d6d6;
}
#m_title > h2 {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
}
#m_title > h2:after {
    content: '';
    display: block;
    position: absolute;
    width: 125px;
    height: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    background: #efeeee;
    z-index: -9999;
}

.pt_arr {
    width: 100%;
    margin: 0 auto;
}
.pt_arr > .pt_arr_img {
    width:  100%;
    margin-top: 50px;
}
.pt_arr > .pt_arr_img:after {
    content: '';
    display: block;
    clear: both;
}
.pt_arr > .pt_arr_img > li {
    width: 48%;
    height: 240px;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 120px;
    padding-top: 40px;
}
.pt_arr > .pt_arr_img:nth-child(1) > li:nth-child(1):after {
    content: 'New';
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    padding: 10px 10px;
    z-index: -100;
    box-sizing: border-box;
}
.pt_arr > .pt_arr_img:nth-child(1) > li:nth-child(2):after {
    content: 'New';
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    padding: 10px 10px;
    z-index: -100;
    box-sizing: border-box;
}
.pt_arr > .pt_arr_img > li:after {
    content: '';
    position: absolute;
    background-color: #efeeee;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
}
.pt_arr > .pt_arr_img > li > a {
    display: block;
}
.pt_arr > .pt_arr_img:nth-child(1) > li:nth-child(1) > a > img {
    width: 55px;
    height: 183px;
}
.pt_arr > .pt_arr_img:nth-child(1) > li:nth-child(2) > a > img {
    width: 55px;
    height: 183px;
}
.pt_arr > .pt_arr_img:nth-child(1) > li > a > img {
    width: 66px;
    height: 180px;
    display: block;
    margin: 0 auto;
}

.pt_arr > .pt_arr_img:nth-child(2) > li:nth-child(1) > a > img {
    width: 66px;
    height: 180px;
}
.pt_arr > .pt_arr_img:nth-child(2) > li:nth-child(2) > a > img {
    width: 66px;
    height: 180px;
}
.pt_arr > .pt_arr_img:nth-child(2) > li:nth-child(3) > a > img {
    width: 66px;
    height: 180px;
}
.pt_arr > .pt_arr_img:nth-child(2) > li > a > img {
    width: 55px;
    height: 183px;
    display: block;
    margin: 0 auto;
}

.pt_arr > .pt_arr_img:nth-child(3) > li > a > img {
    width: 66px;
    height: 180px;
    display: block;
    margin: 0 auto;
}


.pt_arr > .pt_arr_img > li > a > p {
    font-family: "NanumSquare";
    text-align: center;
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
    margin-top: 35px;
}
.pt_arr > .pt_arr_img > li > a > p > span {
    margin-top: 15px;
    font-size: 14px;
    color: #a774c1;
    display: block;
}

.pt_arr > .pt_arr_btn {
    width: 180px;
    text-align: center;
    margin: 40px auto;
    font-family: "NanumSquare";
}
.pt_arr > .pt_arr_btn:after {
    content: '';
    display: block;
    clear: both;
}
.pt_arr > .pt_arr_btn li {
    width: 20px;
    height: 20px;
    float: left;
    text-align: center;
    margin-left: 15px;
    line-height: 20px;
}
.pt_arr > .pt_arr_btn > li.on {
    font-weight: bold;
    background-color: #1c1c1b;
    color: #f9f9f9;
    border-radius: 50px;
}
.pt_arr > .pt_arr_btn > li > a {
    display: block;
}


footer {
    width: 100%;
    background-color: #1c1c1b;
    color: #f9f9f9;
}
footer > .footer {
    position: relative;
    padding: 10px;
}
footer > .footer:after {
    content: '';
    display: block;
    clear: both;
}
footer > .footer > p {
    font-family: "NanumSquare";
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 20px;
}
footer > .footer > address {
    width: 50%;
    font-style: normal;
    font-family: "NanumSquare";
    font-size: 14px;
    line-height: 20px;
}
footer > .footer > img {
    float: right;
    width: 110px;
    height: 80px;
    margin-top: -50px;
    margin-right: 10%;
}
footer > .footer > select {
    width: 130px;
    height: 30px;
    background-color: #1c1c1b;
    color: #f9f9f9;
    font-size: 12px;
    margin-top: 20px;
}


#gotoTop {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 80px;
    right: 20px;
    border: 0;
    background: none;
    z-index: 999;
    display: none;
}
#gotoBottom {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    border: 0;
    background: none;
    z-index: 999;
    display: none;
}