@charset "utf-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');
@font-face {
    font-family: 'NanumSquare';
    src: local('font/NanumSquare'),
        url('../font/NanumSquareR.ttf'),
        url('../font/NanumSquareR.eot'),
        url('../font/NanumSquareR.woff');
}
@font-face {
    font-family: 'NanumSquareL';
    src: url('../font/NanumSquareL.ttf'),
        url('../font/NanumSquareL.eot'),
        url('../font/NanumSquareL.woff');
}
@font-face {
    font-family: 'NanumSquareB';
    src: url('../font/NanumSquareB.ttf'),
        url('../font/NanumSquareB.eot'),
        url('../font/NanumSquareB.woff');
}
@font-face {
    font-family: 'NanumSquareEB';
    src: url('../font/NanumSquareEB.ttf'),
        url('../font/NanumSquareEB.eot'),
        url('../font/NanumSquareEB.woff');
}
body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 14px;
}

#location {
    line-height: 50px;
    padding-left: 5%;
    word-spacing: 5px;
    border-bottom: 1px solid #1c1c1b;
}


figure {
    max-width: 1024px;
    margin: 0 auto;
    height: 500px;
    position: relative;
    background: url(../images/notice_bg.jpg) center no-repeat;
    background-size: cover;
}
figure > .figure_text {
    text-align: center;
    color: #f9f9f9;
    font-size: 25px;
    font-style: italic;
    padding-top: 220px;
    letter-spacing: 1px;
}


section {
    font-family: "NanumSquare";
    max-width: 1024px;
    margin: 80px auto 0 auto;
    position: relative;
}





#notice {position: relative; width: 100%; margin: 0 auto;}
	
#notice .searchbox {width: 100%; margin: 0 auto; text-align: center; margin-bottom: 50px;}
#notice .searchbox .selectbox {padding-left: 20px; padding-right: 50px; border: 0; font-size: 14px;height: 50px; border-bottom: 1px solid #251e1e;}
#notice .searchbox .text {width: 40%; border: 0; font-size: 14px;  color: #1c1c1b; border-bottom: 1px solid #251e1e; height: 47px; margin-left: 30px; text-indent: 14px;}
#notice .searchbox .text::placeholder {color: #1c1c1b;}
.searcharea .fa-search{cursor: pointer; font-size: 18px; margin-left: -30px;}


#notice .news {width: 100%;}
#notice .news thead {border-top: 5px solid #1c1c1b; border-bottom: 2px solid grey;}

#notice .news thead tr td {font-weight: bold; font-size: 14px; padding: 20px; text-align: center;}
#notice .news thead tr td.hnumber {width: 20%; }
#notice .news thead tr td.hname {width: 80%;}
#notice .news thead tr td.hdate {width: 20%;}
#notice .news tbody {margin: 0; padding: 0;}
        
#notice .news tbody tr td {padding: 20px 0;}
#notice .news tbody tr td.number {width: 15%; text-align: center; border-bottom: 1px solid grey; font-size: 16px;}
#notice .news tbody tr td.name {width: 70%; text-align: left; padding-left: 2%; border-bottom: 1px solid grey; font-size: 16px; font-weight: bold;}
#notice .news tbody tr td.date {width: 15%; text-align: center; border-bottom: 1px solid grey; font-size: 16px;}

#notice .page_num {width: 100%; text-align: center; margin: 0 auto; display: inline-block; position: relative; margin-top: 2%; margin-bottom: 5%;}
#notice .page_num .front {display: inline-block; width: 36px; height: 35px; padding-top: 5px; background: url(../images/front.png); position: relative; top: 10px; margin-right: 1%; background-size: cover;}
#notice .page_num .prev {display: inline-block; width: 36px; height: 35px; background: url(../images/prev.png); position: relative; top: 10px; margin-right: 1%; background-size: cover;}
#notice .page_num .num_1 {display: inline-block; width: 36px; height: 35px; line-height: 35px; margin-right: 1%;}
#notice .page_num .num_2 {display: inline-block; width: 36px; height: 35px; line-height: 35px; margin-right: 1%;}
#notice .page_num .num_3 {display: inline-block; width: 36px; height: 35px; line-height: 35px; margin-right: 1%;}
#notice .page_num .num_4 {display: inline-block; width: 36px; height: 35px; line-height: 35px; margin-right: 1%;}
#notice .page_num .next {display: inline-block; width: 36px; height: 35px; background: url(../images/next.png); margin-right: 1%; position: relative; top: 10px; background-size: cover;}
#notice .page_num .back {display: inline-block; width: 36px; height: 35px; background: url(../images/back.png); position: relative; top: 10px; background-size: cover;}
.onClick{border: 1px solid #1c1c1b; font-weight: bold;}
